<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Home</title>
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/general.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
    <header>
        <div class="logo">
            <div class="circle">CR</div>
            <span>CityRide Administrator</span>
        </div>
        <div class="mobile-buttons mobile">
        </div>
        <div class="user">
            <a class="name"><%= firstName %> <%= lastName %></a>
            <i class="fas fa-sign-out-alt arrow sign-out"></i>
        </div>
    </header>
    <div id="container" class="container">
    <div id="mobile-menu" class="menu mobile-menu">
        <div class="groups">
            <div class="option option-selected all-bicycles option-container">
                <div class="circle">A</div>
                <div class="option-name">All Bicycles</div>
            </div>
            <div class="option option-container">
                <div class="circle">BO</div>
                <div class="option-name" data-attr="borrowed">Borrowed Bicycles</div>
            </div>
            <div class="option option-container">
                <div class="circle">BR</div>
                <div class="option-name" data-attr="broken">Broken Bicycles</div>
            </div>
            <div class="option option-container">
                <div class="circle">AV</div>
                <div class="option-name" data-attr="available">Available Bicycles</div>
            </div>
            <div class="option option-container">
                <div class="circle">IS</div>
                <div class="option-name">Reported Issues</div>
            </div>
            <div class="option option-container">
                <div class="circle">O</div>
                <div class="option-name" data-attr="overdue">Overdue</div>
            </div>
            <div class="option option-container">
                <div class="circle">OB</div>
                <div class="option-name" data-attr="load_old">Old Bicycles</div>
            </div>
            <div class="option option-container">
                <div class="circle">M</div>
                <div class="option-name" data-attr="load_maintainance">Maintainance Bicycles</div>
            </div>
            <div class="option option-container">
                <div class="circle">P</div>
                <div class="option-name" data-attr="price_history">Price History</div>
            </div>
        </div>
    </div>
    <div class="content" id="content">
        <div class="content-container">
            <div class="overlay spinner d-none"><img src="images/spinner.gif" class="spinner"/></div>
            <p class="feed-title">All Bicycles</p>
            <div class="content-view-filter">
                <div class="content-list">
                    <% allBicycles.forEach(function(bicycle) { %>
                        <div class="article" onclick="popUp(this)">
                            <div class="article-header"> 
                                <div class="article-title" id="<%= bicycle.id %>">ID: <%= bicycle.id %></div>
                                <%if (bicycle.poinT_ID != 0) { %>
                                    <div class="popularity-score">Pickup Point ID: <%= bicycle.poinT_ID %></div>
                                <% } %>
                            </div>
                            <div class="article-footer">
                            <div class="tag-list">
                                <%if (bicycle.status == 'borrowed') { %>
                                    <div class="tag-label article-tag-label blue">borrowed</div>
                                <% } else if (bicycle.status == 'available') { %>  
                                    <div class="tag-label article-tag-label">available</div>
                                <% } else { %>  
                                    <div class="tag-label article-tag-label red">broken</div>
                                <% } %>
                                <div class="tag-label article-tag-label"><%=bicycle.registeR_DATE.split('T')[0] %></div>
                            </div>
                        </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
        <div class="overlay pop-up d-none">
			<div class="pop-up-wrapper">
			</div>
		</div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="javascripts/borrow.js"></script>
</body>
</html>